@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primaryColor: #16db65;
}

html {
  background-color: #030504;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  background-color: #030504;
}

.main-content {
  margin-left: 119px;
  margin-top: 105px;
}

.left-content {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo, texto y navbar */
}

.hero-text {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  color: #c7c7cc;
  margin: 0;
}

.italic {
  font-style: italic;
  color: #f2f2f7;
}

.subtext {
  font-size: 20px;
  font-weight: 400;
  margin-top: 42px;
  margin-left: 15px;
  line-height: 1.5;
  color: #c7c7cc;
}

.cta-button {
  display: inline-block;
  margin-top: 35px;
  margin-left: 13px;
  padding: 13px 26px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  border-radius: 9px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--primaryColor);
  color: #030504;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 51px;
  width: 51px;
  margin-left: 35px;
  margin-right: 35px;
}

.logo-text {
  font-size: 26px;
  font-weight: 900;
  color: #f2f2f7;
}

.navbar {
  display: flex;
  margin-left: 32px;
  margin-top: 3px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #f2f2f7;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.buttons-container button {
  font-weight: 600;
  border: none;
  color: #e5e5ea;
  padding: 9px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.sign-in {
  background: none;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  margin-right: 16px;
}

.sign-up {
  background-color: #0eb454;
  color: #030504;
}

.sign-up:hover {
  background-color: #058c42;
}

.main-content {
  display: flex;
  align-items: flex-start;
  margin-left: 108px;
  margin-top: 96px;
}

.text-content {
  max-width: 50%;
  margin-right: 180px;
}

.phone-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46px;
  position: relative;
}

.phone {
  height: auto;
  object-fit: contain;
  position: absolute;
}

.phone:nth-of-type(1) {
  z-index: 0;
  top: -11px;
  left: 0px;
}

.phone:nth-of-type(2) {
  z-index: 1;
  top: 165px;
  left: 138px;
}
