@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  background-color: #030504;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  background-color: #030504;
}

.main-content {
  text-align: left;
  margin: 80px 32px; /* Espaciado alrededor del contenido principal */
  color: #f2f2f7;
}

.left-content {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo, texto y navbar */
}

.hero-text {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  color: #f2f2f7;
  margin: 0;
}

.italic {
  font-style: italic;
  color: #f2f2f7;
}

.subtext {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.5;
  color: #c7c7cc;
}

.cta-button {
  display: inline-block;
  margin-top: 32px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #1db954;
  background-color: transparent;
  color: #1db954;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #1db954;
  color: #030504;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 46px;
  width: 46px;
  margin-left: 32px;
  margin-right: 32px;
}

.logo-text {
  font-size: 24px;
  font-weight: 900;
  color: #f2f2f7;
}

.navbar {
  display: flex;
  margin-left: 16px; /* Ajusta el espacio entre logo y navbar si es necesario */
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #f2f2f7;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.buttons-container button {
  font-weight: 600;
  border: none;
  color: #f2f2f7;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sign-in {
  background: none;
  border: 1px solid #1db954;
  color: #1db954;
  margin-right: 16px;
}

.sign-up {
  background-color: #1db954;
  color: #030504;
}
